html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/dhtmlxscheduler_material.css', rel='stylesheet')
    script(src='/javascripts/codebase/dhtmlxscheduler.js')
    script(src='/javascripts/codebase/ext/dhtmlxscheduler_minical.js')
    script(src='/javascripts/codebase/locale/locale_es.js', charset='utf-8')
    script(src='/javascripts/jsInicio.js')
  body(onload = 'init();')
    block content
